<app-navbar></app-navbar>

<div class="p-20 flex flex-col gap-10">
  <div class="w-full flex justify-center items-center">
    <h1 class="text-6xl font-extrabold text-center underline">ARTICLE DATABASE</h1>
  </div>

  <ng-container *ngIf="articleState.state$ | async as state">
    <div>
      <div class="flex flex-col gap-5">
        <div>
          <p class="text-md font-bold">Press any article code to copy it.</p>
        </div>
        <p-table
          [customSort]="true" [value]="state.articles"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
          [globalFilterFields]="['code', 'name', 'consumption', 'machinery']"
          dataKey="code" editMode="row">
          <ng-template pTemplate="header">
            <tr>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300" style="width:23%">Code</th>
              <th class="bg-base-300 text-accent border-b-2 border-base-300" style="width:23%" pSortableColumn="name">Name</th>
              <th class="bg-base-300 text-accent border-b-2 border-base-300" style="width:23%">Consumption</th>
              <th class="bg-base-300 text-accent border-b-2 border-base-300" style="width:23%">Machinery</th>
              <th class="bg-base-300 text-accent border-r-2 border-b-2 border-base-300" style="width:8%"></th>
            </tr>
            <tr>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300">
                <p-columnFilter type="text" field="code"></p-columnFilter>
              </th>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300" >
                <p-columnFilter type="text" field="name"></p-columnFilter>
              </th>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300" >
                <p-columnFilter type="text" field="consumption"></p-columnFilter>
              </th>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300" >
                <p-columnFilter type="text" field="machinery"></p-columnFilter>
              </th>
              <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-article let-editing="editing">
            <tr [pEditableRow]="article" class="bg-base-200 text-accent border-b-2 border-base-300">
              <td class="border-l-2 border-base-300 cursor-pointer">
                <span class="hover:underline hover:bg-base-300 p-5 rounded-xl" (click)="copyCodeToClipboard(article.code)">{{article.code}}</span>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="article.name" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{article.name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="article.consumption" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{article.consumption}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="article.machinery" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{article.machinery}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="border-r-2 border-base-300">
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(article)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>

  <div class="grid grid-cols-3 gap-10">
    <section class="card bg-base-200 flex flex-col gap-10 p-4 col-span-2">
      <h2 class="w-full text-center font-bold text-2xl">Add Article</h2>
      <form [formGroup]="baseForm" class="flex flex-col gap-3">
        <div class="flex flex-row gap-2 items-center">
          <div class="flex flex-row gap-2 items-center">
            <label for="create-code" class="bold">Code: </label>
            <input type="text" placeholder="Enter code" class="input input-bordered w-full max-w-xs" formControlName="code" id="create-code">
          </div>
          <p class="text-red-700" *ngIf="baseForm.get('code')?.touched&&baseForm.get('code')!.hasError('required')">Code required.</p>
          <p class="text-red-700" *ngIf="baseForm.get('code')?.touched&&baseForm.get('code')!.hasError('pattern')">Code invalid (must contain only numbers).</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <div class="flex flex-row gap-2 items-center">
            <label for="name" class="bold">Name: </label>
            <input type="text" placeholder="Enter name" class="input input-bordered w-full max-w-xs" formControlName="name" id="name">
          </div>
          <p class="text-red-700" *ngIf="baseForm.get('name')?.touched&&baseForm.get('name')!.hasError('required')">Name required.</p>
          <p class="text-red-700" *ngIf="baseForm.get('name')?.touched&&baseForm.get('name')!.hasError('maxlength')">Name must contain maximum 128 characters.</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <div class="flex flex-row gap-2 items-center">
            <label for="consumption" class="bold">Consumption: </label>
            <input type="text" placeholder="Enter consumption" class="input input-bordered w-full max-w-xs" formControlName="consumption" id="consumption">
          </div>
          <p class="text-red-700" *ngIf="baseForm.get('consumption')?.touched&&baseForm.get('consumption')!.hasError('maxlength')">Consumption must contain maximum 128 characters.</p>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <div class="flex flex-row gap-2 items-center">
            <label for="machinery" class="bold">Machinery: </label>
            <input type="text" placeholder="Enter machinery" class="input input-bordered w-full max-w-xs" formControlName="machinery" id="machinery">
          </div>
          <p class="text-red-700" *ngIf="baseForm.get('machinery')?.touched&&baseForm.get('machinery')!.hasError('maxlength')">Machinery must contain maximum 128 characters.</p>
        </div>
        <section class="mt-6 w-full flex justify-center items-center">
          <p-button class="btn btn-success btn-lg" (click)="createArticle()" [disabled]="baseForm.invalid">Create</p-button>
        </section>
      </form>
    </section>
    <section class="card bg-base-200 flex flex-col gap-10 p-4 h-fit">
      <h2 class="w-full text-center font-bold text-2xl">Delete Article</h2>
      <form [formGroup]="deleteForm" class="flex flex-col gap-3">
        <div class="flex flex-row gap-2 items-center">
          <div class="flex flex-row gap-2 items-center">
            <label for="delete-code" class="bold">Code: </label>
            <input type="text" placeholder="Enter code" class="input input-bordered w-full max-w-xs" formControlName="code" id="delete-code">
          </div>
          <p class="text-red-700" *ngIf="deleteForm.get('code')?.touched&&deleteForm.get('code')!.hasError('required')">Code required.</p>
          <p class="text-red-700" *ngIf="deleteForm.get('code')?.touched&&deleteForm.get('code')!.hasError('pattern')">Code invalid (must contain only numbers).</p>
        </div>
        <section class="mt-6 w-full flex justify-center items-center">
          <p-button class="btn btn-error btn-lg" (click)="deleteArticle()" [disabled]="deleteForm.invalid">Delete</p-button>
        </section>
      </form>
    </section>
  </div>
</div>
<p-toast></p-toast>
