<div
  class="mt-20 grid place-items-center w-full min-h-136 p-10">
  <div class="w-full sm:w-126 bg-base-100 shadow-xl flex flex-col items-center p-5 rounded-2xl gap-10 mb-0">
    <h1 class="text-accent text-4xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md
               select-none text-center">Register a new account</h1>
    <form [formGroup]="registerForm" class="flex flex-col gap-4 items-center">
      <div class="flex flex-col gap-2 w-full">
        <div class="flex flex-col gap-2">
          <label for="email" class="marcellus text-accent">Email</label>
          <input
            [class.border-red-700]="registerForm.get('email')?.touched&&(
          registerForm.get('email')!.hasError('required') ||
          registerForm.get('email')!.hasError('email')
          )" (keyup.enter)="checkAndRegister()"
            type="text" class="input input-bordered w-full max-w-xs" pInputText formControlName="email" id="email"/>
        </div>
        <p class="text-red-700" *ngIf="registerForm.get('email')?.touched&&registerForm.get('email')!.hasError('required')">Email required.</p>
        <p class="text-red-700" *ngIf="registerForm.get('email')?.touched&&registerForm.get('email')!.hasError('email')">Email invalid.</p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <label for="password" class="marcellus text-accent">Password</label>
          <input
            [class.border-red-700]="registerForm.get('password')?.touched&&(
          registerForm.get('password')!.hasError('required')
          )" (keyup.enter)="checkAndRegister()"
            type="password" class="input input-bordered w-full max-w-xs" pInputText formControlName="password" id="password"/>
        </div>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('required')">Password required.</p>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('minlength')&&!registerForm.get('password')!.hasError('required')">Password must have at least 8 characters.</p>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('maxlength')&&!registerForm.get('password')!.hasError('required')">Password must have maximum 128 characters.</p>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('noCapitalLetter')&&!registerForm.get('password')!.hasError('required')">Password must contain a capital letter.</p>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('noDigit')&&!registerForm.get('password')!.hasError('required')">Password must contain a digit.</p>
        <p class="text-red-700" *ngIf="registerForm.get('password')?.touched&&registerForm.get('password')!.hasError('noSymbol')&&!registerForm.get('password')!.hasError('required')">Password must contain a symbol.</p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="marcellus text-accent">Confirm Password</label>
          <input
            [class.border-red-700]="registerForm.get('confirmPassword')?.touched&&(
          registerForm.get('confirmPassword')!.hasError('required') ||
          registerForm.hasError('passwordsDoNotMatch')
          )" (keyup.enter)="checkAndRegister()"
            type="password" class="input input-bordered w-full max-w-xs" pInputText formControlName="confirmPassword" id="confirmPassword"/>
        </div>
        <p class="text-red-700" *ngIf="registerForm.get('confirmPassword')?.touched&&registerForm.get('confirmPassword')!.hasError('required')">You must confirm your password.</p>
        <p class="text-red-700" *ngIf="registerForm.get('confirmPassword')?.touched&&registerForm.hasError('passwordsDoNotMatch')&&!registerForm.get('confirmPassword')!.hasError('required')">Passwords do not match.</p>
      </div>
    </form>
    <ng-container *ngIf="state.state$ | async as state">
      <section class="w-full flex flex-col justify-center items-center">
        <div class="h-20 flex flex-row items-center justify-center">
          <button *ngIf="!state.loading" class="btn btn-accent btn-lg mb-3" (click)="register()" [disabled]="registerForm.invalid">Register</button>
          <span *ngIf="state.loading" class="loading loading-spinner loading-lg text-primary"></span>
        </div>
        <p class="text-accent">Already have an account?</p>
        <p class="text-accent cursor-pointer underline" (click)="navigateToLogin()">Sign in</p>
      </section>
    </ng-container>
  </div>
</div>
